#app {
	margin: 0 auto;
	max-width: 750px;
}
#app header > h1 {
	font-size: 3rem;
	line-height: 1.2;
	margin: 75px auto 15px auto;
	max-width: 550px;
	text-align: center;
}

/* SECTIONS */
#app section {
	min-height: 700px;
	margin: 20px auto;
	padding-bottom: 50px;
}
#app section h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}
#app section .copy {
	margin: 10px auto 20px auto;
	max-width: 450px;
	padding: 0 0.25rem;
}
#app section iframe {
	margin: 7px auto;
}

#app section .half-width {
	display: flex;
}

/* STAT BOXES */
#app .summary-box {
	/* display: flex;
	justify-content: space-around; */
	margin-bottom: 30px;
	text-align: center;
}
#app .summary-box .timestamp {
	color: #6D6E70;
	font-family: 'BentonSansCond-RegItalic', italic;
	font-size: 0.9rem;
	margin-top: 7px;
}
#app .summary-box .stat-box {
	display: flex;
	gap: 2%;
	justify-content: space-between;
}

#app .stat-box .big-num {
	color: var(--blue01);
	font-family: 'Shift-Bold', serif;
	font-size: 3rem;
	font-weight: 800;
	line-height: 2.1rem;
	margin: 0;
	padding-bottom: 3px;
}
#app .stat-box .label {
	color: #6D6E70;
	font-size: 0.95rem;
	line-height: 1.25rem;
	margin: 0;
	padding-bottom: 5px;
	text-transform: uppercase;
}



@media only screen and (min-width: 600px) {
	#app header > h1 {
		line-height: 1.3;
		margin: 75px auto 25px auto;
	}
	#app section h2 {
		font-size: 2.1rem;
		margin-bottom: 0;
	}
	#app #main .copy,
	#app #drugs .copy {
		margin: 30px auto;
		text-align: center;
	}
	#app section .copy {
		margin: 10px 0 20px 0;
	}
	#app .summary-box {
		margin: 30px 0;
	}
	.summary-box .stat-box {
		gap: 10%;
	}
	#app .stat-box .big-num {
		font-size: 4rem;
		line-height: 4rem;
	}
	#app .stat-box .label {
		font-size: 0.95rem;
	}
}
