#nav-bar {
    align-items: center;
    height: 35px;
    margin: 0 auto 40px auto;
	position: relative;
}

#nav-container {
    background-color: rgba(255,255,255,0.8);
    box-sizing: border-box;
    left: 0;
    max-width: 650px;
    padding: 10px 0 10px 0;
    position: fixed;
    top: 0;    
    right: 0;
}

#nav-container ul {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

#nav-container ul li {
    cursor: pointer;
    display: flex;
    padding: 2px;
    user-select: none;
}
#nav-container ul li.active-nav,
#nav-container ul li:hover {
    border-bottom: 2px solid var(--red01);
    font-family: BentonSansCond-Bold, sans-serif;
    font-weight: 800;
    padding: 2px;
    transition: all 150ms ease-in-out;
}
#nav-container ul li a {
    color: var(--black);
    font-family: BentonSansCond-Regular, sans-serif;
    text-decoration: none;
}